In [3]:
def extraction(server,
               database,
               username,
               password,
               query,
               path,
               filename):
               cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+
                                                                         ';DATABASE='+database+
                                                                         ';UID='+username+
                                                                         ';PWD='+ password)
               cursor = cnxn.cursor()                                                          
               df = pd.read_sql(query, con = cnxn)
               df.to_csv(path + filename)
               cnxn.close()
               #print("Arquivo: " + filename + " salvo")

In [1]:
import pyodbc 
import pandas as pd

In [4]:

# Some other example server values are
# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server = '172.21.134.175' 
database = 'VMinaDB' 
username = 'Relatorio' 
password = 'Relatorio' 
#cursor = cnxn.cursor()

In [2]:
query1 = """

-- Query Despacho Ciclo
Declare @dataIn datetime = '2021-01-12'
Declare @dataFn datetime = '2021-01-12'

Declare @idLocalidade int = 12
Declare @idPeriodo int = 5

select TH.IdLocalidade,TH.IdLocalidade as Localidade,TH.idTurnoOperacionalHistorico as idTurnoOperacionalHistorico,TH.turma,TH.Nome,TH.dataProducao as DataInicioTurno,TH.DataFim as DataTerminoTurno,
       DataCiclo,CH.DataInicio,DataCheio,CH.DataFim,RegistradoBalanca,CargaApuracao,TempoMovendoVazio,TempoFilaCarga,TempoManobraCarga,TempoCarregamento,TempoMovendoCheio,TempoEsperaBasculo,
       TempoBasculo,TempoCiclo,TempoOciosoEscavadeira,DistanciaPercorridaVazio,DistanciaPercorridaCheia,DistanciaPercorridaTotal,NomeEquipamentoTransporte,NomeOperadorTransporte,
       NomeEquipamentoCarga,NomeOperadorCarga,LocalOrigem,LocalRegiaoOrigem,GpsXOrigem,GpsYOrigem,GpsZOrigem,
       LocalDestino,LocalRegiaoDestino,GpsXBasculo,GpsYBasculo,GpsZBasculo,GradeMaterial,CargaManual,velocidadeMediaCheio,velocidadeMediaTotal,velocidadeMediaVazio,
       PitOrigem,PitDestino,Material,CicloMaterialTipo,GPSXCaminhaoCarga,GPSYCaminhaoCarga,GPSXCarga,GPSYCarga,GPSXCaminhaoBasculo,GPSYCaminhaoBasculo,        
       CH.idUnidadeOperacionalPontoControle, CH.UnidadeOperacionalPontoControle
from [VminaDB].[mina].[CicloHistorico] CH
left join [VminaDB].[mina].CicloHistoricoValidacao CV
on CV.id = CH.id
and CV.idTurnoOperacionalHistorico = CH.idTurnoOperacionalHistorico
and CV.idLocalidade = CH.idLocalidade
and CH.Ano = CH.Ano
join [VminaDB].[mina].fnTurnoOperacionalHistorico(@idLocalidade,@idPeriodo,@dataIn,@dataFN,null,null) TH
on TH.IdLocalidade = CH.idLocalidade
and TH.IdTurnoOperacionalHistorico = CH.idTurnoOperacionalHistorico
and TH.Ano = CH.Ano
left join [VminaDB].[mina].EquipamentoHistorico ET
on ET.IdEquipamento = CH.idEquipamentoHistoricoTransporte
and ET.idTurnoOperacionalHistorico = CH.idTurnoOperacionalHistorico
and CH.IdFabricanteSistemasDeMina = ET.IdFabricanteSistemasDeMina
and CH.Ano = ET.Ano
and ET.IdLocalidade = CH.idLocalidade
left join [VminaDB].[mina].EquipamentoHistorico EC
on EC.IdEquipamento = CH.idEquipamentoHistoricoCarga
and EC.idTurnoOperacionalHistorico = CH.idTurnoOperacionalHistorico
and CH.IdFabricanteSistemasDeMina = EC.IdFabricanteSistemasDeMina
and CH.Ano = EC.Ano
and EC.IdLocalidade = CH.idLocalidade
WHERE
  CH.idUnidadeOperacionalPontoControle in (13)

"""

In [5]:
#Sample select query
query2 = """

--Query Despacho Estado
Declare @dataIn datetime = '2021-01-12'
Declare @dataFn datetime = '2021-01-12'

Declare @idLocalidade int = 12
Declare @idPeriodo int = 5

select TH.idLocalidade as idLocalidade,TH.IdLocalidade as Localidade,TH.idTurnoOperacionalHistorico as idTurnoOperacionalHistorico,TH.turma,TH.Nome,TH.dataProducao as DataInicioTurno,TH.DataFim as DataTerminoTurno,
TAG as Equipamento,Razao,RazaoDescricao,RH.DataInicio,DataFinal,Duracao,
RH.idEquipamentoEstado,EquipamentoEstado,CategoriaTempo,CategoriaTempoAbreviacao,Comentario,idOperador,
NomeOperador,GpsX,GpsY,
EH.idUnidadeOperacional, EH.UnidadeOperacional
from [VminaDB].[mina].EquipamentoRazaoHistorico RH
join [VminaDB].[mina].fnTurnoOperacionalHistorico(@idLocalidade,@idPeriodo,@dataIn,@dataFN,null,null) TH
on TH.IdLocalidade = RH.idLocalidade
and TH.IdTurnoOperacionalHistorico = RH.idTurnoOperacionalHistorico
and TH.Ano = RH.Ano
left join [VminaDB].[mina].EquipamentoHistorico EH
on EH.IdEquipamento = RH.idEquipamentoHistorico
and EH.idTurnoOperacionalHistorico = RH.idTurnoOperacionalHistorico
and RH.IdFabricanteSistemasDeMina = EH.IdFabricanteSistemasDeMina
and RH.Ano = EH.Ano
and EH.IdLocalidade = RH.idLocalidade
left join [VminaDB].[mina].Equipamento E on E.id = RH.idEquipamentoHistorico and RH.idLocalidade = E.IdLocalidade and E.IsEquipamentoTerceiro = 0
left join [VminaDB].[mina].UnidadeOperacional UO on UO.Id = E.idUnidadeOperacional and UO.idLocalidade = E.IdLocalidade
WHERE
 EH.idunidadeoperacional in (13)

"""

In [8]:
#Sample select query
query3 = """

--Query GPS
Declare @dataIn datetime = '2021-01-12'
Declare @dataFn datetime = '2021-01-12'

Declare @idLocalidade int = 12
Declare @idPeriodo int = 5

select TH.idLocalidade as idLocalidade,TH.IdLocalidade as Localidade,TH.idTurnoOperacionalHistorico as idTurnoOperacionalHistorico,TH.turma,TH.Nome,TH.dataProducao as DataInicioTurno,TH.DataFim as DataTerminoTurno,
       E.Nome as Name,
       G.Data,
       G.GpsX as [PositionX],
       G.GpsY as [PositionY],
       G.GpsZ AS [PositionZ],
       E.idUnidadeOperacional,
       E.UnidadeOperacional,
       E.idTurnoOperacionalHistorico
from [VminaDB].[mina].EquipamentoGPSHistorico G
join [VminaDB].[mina].fnTurnoOperacionalHistorico(@idLocalidade,@idPeriodo,@dataIn,@dataFN,null,null) TH
  on TH.IdLocalidade = G.idLocalidade
 and TH.IdTurnoOperacionalHistorico = G.idTurnoOperacionalHistorico
 and TH.Ano = G.Ano
join [VminaDB].[mina].EquipamentoHistorico E
  on E.IdEquipamento = G.idEquipamentoHistorico
 and E.IdLocalidade = G.idLocalidade
 and E.idTurnoOperacionalHistorico = G.idTurnoOperacionalHistorico
 and G.Ano = E.Ano
WHERE
E.idunidadeoperacional in (13)

"""

In [6]:
query4 = """

--Query Telemetria
Declare @dataIn datetime = '2021-01-12'
Declare @dataFn datetime = '2021-01-12'

Declare @idLocalidade int = 12
Declare @idPeriodo int = 5

SELECT TH.idLocalidade as idLocalidade,TH.IdLocalidade as Localidade,TH.idTurnoOperacionalHistorico as idTurnoOperacionalHistorico,TH.turma,TH.Nome,TH.dataProducao as DataInicioTurno,TH.DataFim as DataTerminoTurno,
       EE.idTelemetria,
       EE.FabricanteSistemasDeMina,
       EE.Data,
       EE.idEvento,
       EE.evento,
       EE.valor,
       EE.TAG as Equipamento,
       EE.EquipamentoFrota,
	   EE.EquipamentoEventoCriticidade as Criticidade,
       EE.EquipamentoEventoTipo as TipoEvento,
       EE.idOperador,
       EE.operador, 
       EE.GPSX, 
       EE.GPSY,
       EE.UnidadeOperacional,
       EE.Interface,
       EE.Oemid
 FROM [VminaDB].[mina].EquipamentoEventoHistorico EE
 join [VminaDB].[mina].fnTurnoOperacionalHistorico(@idLocalidade,@idPeriodo,@dataIn,@dataFN,null,null) TH
   on TH.IdLocalidade = EE.idLocalidade and TH.IdTurnoOperacionalHistorico = EE.idTurnoOperacionalHistorico
  and TH.Ano = EE.Ano
WHERE EE.idUnidadeOperacional in (13) 

"""

In [7]:
query5 = """

--Query Dados Analogicos
Declare @dataIn datetime = '2021-01-12'
Declare @dataFn datetime = '2021-01-12'

Declare @idLocalidade int = 12
Declare @idPeriodo int = 5

Select TH.idLocalidade as idLocalidade,TH.IdLocalidade as Localidade,TH.idTurnoOperacionalHistorico as idTurnoOperacionalHistorico,TH.turma,TH.Nome,TH.dataProducao as DataInicioTurno,TH.DataFim as DataTerminoTurno,  
       E.idUnidadeOperacional,
       E.UnidadeOperacional,
       E.idTelemetria,
       E.FabricanteSistemasDeMina,
       E.Data,
       E.idParametro,
       E.Parametro,
       E.Tendencia,
       E.idOperador,
       E.Operador,
       E.ValorMinimo,
       E.ValorMinimo,
       E.ValorMedia,
       E.ValorMediana,
       E.Tag as equipamento,
       E.EquipamentoFrota,
       TH.idTurnoOperacionalHistorico as idTurnoOperacionalHistorico
 from [VminaDB].[Mina].[EquipamentoDadosAnalogicosHistorico] E
 join [VminaDB].[mina].fnTurnoOperacionalHistorico(@idLocalidade,@idPeriodo,@dataIn,@dataFN,null,null) TH
   on TH.IdLocalidade = E.idLocalidade and TH.IdTurnoOperacionalHistorico = E.idTurnoOperacionalHistorico
  and TH.Ano = E.Ano
WHERE idUnidadeOperacional = 13

"""

In [9]:
query6 = """

--Query Pneus
Declare @dataIn datetime = '2021-01-12'
Declare @dataFn datetime = '2021-01-12'

Declare @idLocalidade int = 12
Declare @idPeriodo int = 5

SELECT TH.idLocalidade as idLocalidade,TH.IdLocalidade as Localidade,TH.idTurnoOperacionalHistorico as idTurnoOperacionalHistorico,TH.turma,TH.Nome,TH.dataProducao as DataInicioTurno,TH.DataFim as DataTerminoTurno,
       ED.idUnidadeOperacional,
       ED.UnidadeOperacional,
       ED.idEquipamentoHistorico,
       ED.FabricanteSistemasDeMina,
       ED.idTelemetria,
       ED.DataLeitura,
       ED.DataUltimaLeitura,
       ED.TAG,
       ED.idEquipamentoFrota,
       ED.EquipamentoFrota,
       ED.Posicao,
       ED.PressaoAtual,
       ED.PressaoRecomendada,
       ED.PressaoAlarmeAmareloMaximo,
       ED.PressaoAlarmeAmareloMinimo,
       ED.PressaoAlarmeVermelhoMaximo,
       ED.PressaoAlarmeVermelhoMinimo,
       ED.PressaoMaximaPadrao,
       ED.PressaoMinimaPadrao,
       ED.Ano, ED.Mes, ED.Dia
       
FROM [mina].EquipamentoDadosPneusHistorico ED
join [VminaDB].[mina].fnTurnoOperacionalHistorico(@idLocalidade,@idPeriodo,@dataIn,@dataFN,null,null) TH
  on TH.IdLocalidade = ED.idLocalidade and TH.IdTurnoOperacionalHistorico = ED.idTurnoOperacionalHistorico
 and TH.Ano = ED.Ano
 WHERE ED.idUnidadeOperacional = 13


"""

In [10]:
path = r"C:\Users\MarceloPereiraMarcoP\Box\Backup Desktop\Integracao_Mina\\"
filename1 = "Despacho_Ciclo+.csv"
filename2 = "Despacho_Estado+.csv"
filename3 = "GPS+.csv"
filename4 = "Telemetria+.csv"
filename5 = "Dados_Analogicos+.csv"
filename6 = "Pneus+.csv"

In [11]:
extraction(server,database,username,password,query1,path,filename1)

In [12]:
extraction(server,database,username,password,query2,path,filename2)

In [13]:
extraction(server,database,username,password,query3,path,filename3)

In [14]:
extraction(server,database,username,password,query4,path,filename4)

In [15]:
extraction(server,database,username,password,query6,path,filename6)

In [16]:
extraction(server,database,username,password,query5,path,filename5)

OperationalError: ('08S01', '[08S01] [Microsoft][ODBC Driver 17 for SQL Server]Provedor TCP: Uma tentativa de conexão falhou porque o componente conectado não respondeu\r\ncorretamente após um período de tempo ou a conexão estabelecida falhou\r\nporque o host conectado não respondeu.\r\n (10060) (SQLGetData); [08S01] [Microsoft][ODBC Driver 17 for SQL Server]Falha de vínculo de comunicação (10060)')